<!DOCTYPE html>
<html lang="ko" data-theme="lemonade">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/error_default.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Title</title>
</head>
<body class="h-screen">
<div class="page-wrapper w-full h-full">

    <div class="contents-wrapper flex justify-center items-center flex-col h-full">

        <div class="error-title flex text-7xl">
            X_X [[ ${status} ]]
        </div>

        <div class="error-msg flex mt-8">
            Something went wrong. please go back to before page and try again.
        </div>

        <div class="error-btn mt-12">
            <button class="btn btn-active btn-primary" onclick="history.go(-1)">Go Back</button>
        </div>

    </div>

</div>
</body>
</html>